*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* body part for css */
.body-class{
    background: #fcf3f2;
    margin: 0 auto;
    padding-bottom: 58px;
    position: relative;
    width: 100%;
    min-height: 100vh;

}
.logo img{
    position: relative;
    float: right;
    margin: 5px 5px 50px 10px;
    width: 80px;
    height: 80px;
    border-radius: 8px;
    
}
.menu-bar{
    background: #d0671c;
    text-align: left; 
    position: relative;
}
.menu-bar ul{
    display: flex;
    list-style: none;
    color: #fff;
    justify-content: center;
    text-align: center;
}
.menu-bar ul li{
    width: 150px;
    margin: 25px;
    padding: 10px;
}
.menu-bar ul li a{
    text-transform: uppercase;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    justify-content: center;
}
.active, .menu-bar ul li:hover{
    background: #ba5c22;
    border-radius: 4px;

}


/* booking page and form  */

.booking-form{
    margin: auto;
    padding: 4px;
    border: 8px;
    box-sizing: border-box;
    max-width: 60%;
    max-height: 80%;
}
.bookingtime{
    margin: auto;
    padding: 10px 0;
    border: 4px;
}
input[type=text]{
    width: 100%;
    padding: 8px;
    margin: 5px 0 20px 0;
    display: inline-block;
    outline: none;
}
.fakta-text{
    margin: auto;
    padding: 2px;
    border: 8px;
    width: 400px;
    max-height: auto;
}

.fakta-text h3{
    color: #ba5c22;
    padding: 5px;
    border: 8px;
}

.fakta-text p{
    margin: auto;
    padding: 8px;
    border: 8px;
}
.om-fr{
    width: 80%;
    max-width: 95%;
    margin:  0 auto;
    align-items: center;
    padding: 80px 0px;
    justify-content: space-around;
}
.om{
    width: 550px;
    align-items: right;
    box-sizing: content-box;
}
.om h1{
    color: #d0671c;
    font-size: 95%;
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 2px;
}
.div-om p{
    color: #fff;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 40px;
}
button{
    background:#ba5c22;
    color: #ffffff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    margin: 10px;
    padding:  15px 20px;
    border-radius: 32px;
    transition: 0.4s;
}
button:hover{
    background: transparent;
    border: 2px solid #ba5c22;
    cursor: pointer;
}

footer{
    background-color: #d0671c;
    padding: 8px;
    position: absolute;
    bottom: 0;
    width: 100%;
    
}

.footer-heading-1{
    display: flex;
    margin: 10px;
    padding: 5px;
    border: 4px;
}
.footer-heading-2{
    display: flex;
    padding: 5px;
    border: 4px;
    margin: 10px;
}
.footer-heading h3{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    display: flex;
    list-style: none;
    margin-top: 30px;
}
.footer-heading a{
    color: rgb(194, 191, 191);
    text-decoration: none;
    margin-bottom: 4px;
}
.footer-heading a:hover {
    color: #6a6a6a;
    transition: 0.3s ease-in-out;
}

/* .Mbilder{
    width: 100px;
    height: 50px;
    margin: 120px, auto;
}
.Mbilder a{
    margin: auto;
    padding: 8px;
    border: 4px;
    width: 900px;
    height: 400px;
}

#massage-text1{
    width: 800px;
    height: 400px;
    float: right;
}

#massage-text2{
    width: 800px;
    height: 400px;
    float: right;
}
#massage-text3{
    width: 800px;
    height: 400px;
    float: right;
}
#massage-text4{
    width: 800px;
    height: 400px;
    float: right;
} */